.categories {
  display: flex;
}

.listItem:not(:last-child) {
  margin-right: 10px;
}

/* .button {
    background-color: var(--grayBtn);
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #f4f4f4;
}
.button:not(:last-child) {
    margin-right: 10px;
}

.active {
    composes: button;
    background-color: var(--black);
    color: #fff;
}
.active:hover {
    background-color: var(--black);
    color: #fff;
} */

@media (max-width: 1200px) {
  .button {
    margin-bottom: 10px;
  }
  .categories {
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
