.header {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 30px;
}

.container {
    composes: container from '../../css/index.css';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

@media (max-width: 640px) {
    .header {
        margin-bottom: 0;
    }

    .header .container {
        flex-direction: column;
    }
}
