.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logoTitle {
  padding-left: 20px;
}

.logoTitle h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #181818;
}

.logoTitle p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #7b7b7b;
}

.logoTitle h1,
.logoTitle p {
  margin: 0;
  padding: 0;
}
.buttonCart {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  background: #fe5f1e;
  border-radius: 30px;
}
