.cartEmpty {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}

.cartEmpty h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.cartEmpty p {
  font-size: 18px;
  color: #777777;
}

.cartEmpty img {
  display: block;
  width: 300px;
  margin: 45px auto 60px;
}

.buttonBlack {
  padding: 12px 34px;
  width: 230px;
  margin: 0 auto;
  font-size: 18px;
  background-color: #232323;
  color: #fff;
}

.buttonBlack:hover {
  background-color: #777777;
}
